*{
    font-family: "Noto Serif";
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1100px;
    margin: auto;
}
/* common style */
.color1{
    color:rgb(137, 135, 161)
}
.color2{
    color:rgb(233, 90, 8);
}

/* header part */
/* nav-section */
.nav-section{
    display: flex;
    justify-content:space-between;
    
}

.link{
    display: flex;
    align-items: center;
    gap: 40px;
}
.link li {
list-style: none;

}
/* navigation-banner */
.freshflower-banner{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    margin-top: 100px;
    
}
.freshflower-banner p{
    max-width: 370px;
    margin-top: 10px;
   
}

/* banner first part */
.plant{
    margin-top: 70px;
}
.plant h2{
margin-bottom: 10px;
}
/* card section */
.card-section{
   margin-top: 40px; 
   display: grid;
   grid-template-columns: repeat(4,1fr);
gap: 0 20px;    
}
.card{
   max-width: 270px;
     justify-content: center;
     margin-top: 30px;
}
.btn{
    background-color: 
rgb(233, 90, 8);
margin: auto;
color: white;
width:100%;
padding: 4px;
margin-top: 10px;
font-size: 16px;
}

  /* Flowers lover section  */
.flower-love-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}
.h1{
    font-size: 50px;
    font-weight:bolder;
 font-family: "Noto Serif";
} 

.flower-img1{
    width: 250px;
    height: 250px;
  position: absolute;
 left: 360px;
 top: -90px;
}

.flower-img2{
    max-width: 500px;
}

/* latest deal section */

.deal-text{
   text-align: center;
}

.deal-1{
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bolder;
    position: relative;
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.deal-2{
    
 background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF ;
    font-size: 23px;
    font-weight: bolder;
      margin-top: 20px;
      position: relative;
}

.overly{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.deal-3{
       
 background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 660px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 23px;
    font-weight:bolder;
  position: relative;
 
}

.overly{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.deal{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 50px;
}
.offer{
    gap: 40px;
}
.shop{

     text-align: center;
    border-bottom: 1px solid white;
    width:80px;
    margin-left: 50px;
    font-size: 18px;
    
   
    
}


/* colorful bunch section */

.color-bunch{
    margin-top: 90px;
    background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
   height: 500px;
   
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.text{
    font-size:50px;
    font-weight: bold;
    color: #FFF;
}
.input-btn{
   position: relative;
}
.input{
    background-color: #FFF;
   width: 550px;
   padding: 8px;
}
.button{
    background-color:#E95A08;
    position: absolute;
     padding: 8px 40px;
     color: aliceblue;
right: -50px;
}


/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    gap: 30px;

}
.footer-link li{
list-style: none;
}
.webside{
    display: flex;
    gap: 40px;
    align-items: start;
}








/* media quary */
@media screen  and  (max-width:576px) {
.link li{
    display: none;
}
.freshflower-banner{
    flex-direction: column-reverse;
    /* gap: 50px; */
    /* align-items: center; */
    align-items: start;
   }
.card-section{
   grid-template-columns: repeat(2,1fr);
   
}

.flower-love-section{
    flex-direction: column;
    line-height: normal;
    gap: 0;
    margin-top: 30px;
}
.flower-img1{
    display: none;
}
.flower-p{
    text-align: center;
}
.deal{
    flex-direction: column;

}
.deal-1{
    width: 480px;
    
}
.deal-2{
    width:480px ;
    margin-top: 30px;
    
}
.deal-3{
    width: 480px;
    margin-top: 30px;
    
}
.deal-3{
    margin-top: 30px;
}
.color-bunch{
    margin-top: 80px;
}

.text{
    font-size:30px;
    font-weight: 400px;
    color: #FFF;
}

.input{
    background-color: #FFF;
   width: 350px;
   padding: 8px;
}
.button{
    background-color:#E95A08;
    position: absolute;
     padding: 8px 40px;
     color: aliceblue;
right: -30px;
}


.footer{
    flex-direction: column;
    align-items: start;
   margin: 30px;

}
.footer-link{
    grid-template-columns: repeat(1,1fr);
}
.webside{
    margin-top:40px;
}
}

/* responsive section */

@media  screen and (min-width:576px) and (max-width:992px){
    .link li{
    display: none;}

.freshflower-banner{
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
    
}
.card-section{
   grid-template-columns: repeat(3,1fr);
   
}
.flower-love-section{
    flex-direction: column;
}
.deal{
    flex-direction: column;
}
.deal-3{
    margin-top: 30px;
}

.input{
    background-color: #FFF;
   width: 300px;
   padding: 8px;
}
.button{
    background-color:#E95A08;
    position: absolute;
     padding: 8px 40px;
     color: aliceblue;
right: 50px;
}

.footer{
    flex-direction: column;
}
.webside{
    margin-top:40px;
}
}